/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.ricon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.ricon-banner {
  background-image: url(/static/which/sprite.png);
  background-position: 0rem 0rem;
  width: 7.733333333333333rem;
  height: 5.92rem;
}
.ricon-box {
  background-image: url(/static/which/sprite.png);
  background-position: -2.8533333333333335rem -6.1866666666666665rem;
  width: 4.453333333333333rem;
  height: 1.4933333333333334rem;
}
.ricon-decorate {
  background-image: url(/static/which/sprite.png);
  background-position: -8rem 0rem;
  width: 7.626666666666667rem;
  height: 5.76rem;
}
.ricon-dog {
  background-image: url(/static/which/sprite.png);
  background-position: -14.24rem -6.1866666666666665rem;
  width: 0.48rem;
  height: 0.56rem;
}
.ricon-left-bottom {
  background-image: url(/static/which/sprite.png);
  background-position: 0rem -10.186666666666667rem;
  width: 1.3066666666666666rem;
  height: 4.88rem;
}
.ricon-left-top {
  background-image: url(/static/which/sprite.png);
  background-position: -1.5733333333333333rem -10.186666666666667rem;
  width: 1.12rem;
  height: 1.2266666666666666rem;
}
.ricon-point {
  background-image: url(/static/which/sprite.png);
  background-position: 0rem -6.1866666666666665rem;
  width: 2.5866666666666664rem;
  height: 3.7333333333333334rem;
}
.ricon-star {
  background-image: url(/static/which/sprite.png);
  background-position: -2.8533333333333335rem -7.946666666666666rem;
  width: 1.28rem;
  height: 1.4133333333333333rem;
}
.ricon-tick {
  background-image: url(/static/which/sprite.png);
  background-position: -4.4rem -7.946666666666666rem;
  width: 1.3866666666666667rem;
  height: 1.0666666666666667rem;
}
.ricon-top {
  background-image: url(/static/which/sprite.png);
  background-position: -7.573333333333333rem -6.1866666666666665rem;
  width: 6.4rem;
  height: 0.7466666666666667rem;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .ricon-banner {
    background-image: url(/static/which/sprite@2x.png);
    background-size: 15.626666666666667rem 15.066666666666666rem;
  }
  .ricon-box {
    background-image: url(/static/which/sprite@2x.png);
    background-size: 15.626666666666667rem 15.066666666666666rem;
  }
  .ricon-decorate {
    background-image: url(/static/which/sprite@2x.png);
    background-size: 15.626666666666667rem 15.066666666666666rem;
  }
  .ricon-dog {
    background-image: url(/static/which/sprite@2x.png);
    background-size: 15.626666666666667rem 15.066666666666666rem;
  }
  .ricon-left-bottom {
    background-image: url(/static/which/sprite@2x.png);
    background-size: 15.626666666666667rem 15.066666666666666rem;
  }
  .ricon-left-top {
    background-image: url(/static/which/sprite@2x.png);
    background-size: 15.626666666666667rem 15.066666666666666rem;
  }
  .ricon-point {
    background-image: url(/static/which/sprite@2x.png);
    background-size: 15.626666666666667rem 15.066666666666666rem;
  }
  .ricon-star {
    background-image: url(/static/which/sprite@2x.png);
    background-size: 15.626666666666667rem 15.066666666666666rem;
  }
  .ricon-tick {
    background-image: url(/static/which/sprite@2x.png);
    background-size: 15.626666666666667rem 15.066666666666666rem;
  }
  .ricon-top {
    background-image: url(/static/which/sprite@2x.png);
    background-size: 15.626666666666667rem 15.066666666666666rem;
  }
}
